body{
    background-image: linear-gradient(to right,rgb(0, 255, 191) ,rgb(0, 191, 255));
    display:flex;
    margin:0 auto;
    margin-top: 0%;
    padding-top: 0%;
    max-height: 100vh;
    height:600px;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    
}
h1{
    color:white;
    font-size:3.5em;
}
#clock{
    color: rgb(0, 191, 255);
}
div{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:400px;
    height:400px;
    border:0.3em solid black;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
}
p{
    font-size: 3.5em;
}